@mixin cints {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  text-align: center;
}

.cints__pa {
  @include cints;
}

.cints__am {
  @include cints;
}
.cints__pv {
  @include cints;
}

.cints__ve {
  @include cints;
}

.cints__paz {
  @include cints;
}

.cints__az {
  @include cints;
}

.cints__pr {
  @include cints;
}

.cints__ro {
  @include cints;
}

.cints__pn {
  @include cints;
}
